.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

.nx/installation
.nx/cache

node_modules/
.idea/
.fleet/
.vscode/
dist/
build/
coverage/
test/
.DS_Store/
tmp/

*.log
jest.debug.config.js
.tool-versions
.env
*.node
Thumbs.db

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
bower_components
*.sublime*
psd
thumb
sketch
